/* .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    width: 100% !important;
    flex: none !important;
} */

/* .form-control{
    padding-left: 1px !important;
    font-size: 0.8rem !important;
    padding-left: none !important;
    padding-right: none !important;
} */